body {
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.item-index-parent-container {
    width: 100%;
    min-height: 500vh;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

.index-head {
    font-family: inherit;
    font-size: 24px;
    // font-weight: bold;
    top: 110px;
    margin-top: 18px;
    display: block;
    position: absolute;
    left: 0px;
    margin-left: 13px;
    color: #cc7852;
}

.item-index {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: center;
    align-items: center;
}

.items-right-side-container {
    display: block;
    width: 100%;
    height: 600px;
    left: 603px;
    position: absolute;
    float: right;
    top: 159px;
}

.items-left-side-container {
    height: 600px;
    width: 600px;
    top: 175px;
    display: flex;
    position: absolute;
    // float: left;
    left: 0px;
}

ul.items-right-side {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: auto;
}
