body {
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.item-index-parent-container {
    display: flex;
    // flex-direction: row;
    justify-content: center;
    // text-align: left;
    padding-top: 124px;
    background-image: linear-gradient(to bottom, rgba(85, 107, 47, 0.068), rgba(85, 107, 47, 0.7));
    // min-width: 1200px;
    width: 100%;
    min-height: 170em;
}


.item-index {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // align-items: center;
}

.items-right-side-container {
    // margin-left: 60px;
    margin: auto;
    margin-right: auto;
    display: block;
    // flex-direction: column;
    // width: 100%;
    // height: 300%;
    position: absolute;
    // top: 159px;
    left: 755px;
    // right: 0px;
    float: right;
    z-index: 2;
}

.items-left-side-container {
    height: 610px;
    width: 610px;
    top: 220px;
    display: flex;
    position: fixed;
    left: 55px;
    // right: 600px;
    background-color: white;
    // justify-content: center;
    // align-items: center;
    border-radius: 11px;
    margin: auto;
    float: left;
    z-index: 2;
}

.map-container-div {
    display: block;
    // flex-direction: column;
    // justify-content: flex-start;
    margin-top: -5px;
}

.index-head {
    position: relative;
    text-align: center;
    font-size: 23px;
    width: 256px;
    margin-top: -80px;
    margin-bottom: 40px;
    display: block;
    color: black;
    background-color: white;
    border-radius: 11px;
    padding: 10px;
    color: peru;
    z-index: 2;
}

ul.items-right-side {
    display: flex;
    flex-direction: column;
    height: 611px;
    z-index: 2;
    // position: fixed;
}

.sorry-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.sorry {
    width: 440px;
    height: 130px;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
    color: #767676;
    font-size: 21px;
    text-align: center;
    padding: 30px;
}

// .link-to-homepage {
//     text-decoration: none;
//     color: #767676;
//     font-weight: bold;
//     background-color: white;
//     border-radius: 11px;
//     padding: 5px 14px 6px 14px;
//     color: peru;
//     font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
//     font-weight: 400;
    
// }
// .link-to-homepage:hover {
//     color: peru;
//     text-decoration: none;
//     cursor: pointer;
// }

// .link-to-search {
//     display: flex;
//     justify-content: flex-end;
//     width: 91%;
//     font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
//     // font-weight: bolder;
// }