body {
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.honey-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.honey-button:focus {
  outline: none;
}

.map-div {
  display: flex;
  position: sticky;
  border-radius: 12px;
  margin-left: 20px;
  margin-top: 62px;
}

.map-props {
  width: 300px;
  font-size: 13px;
}

.map-props > h3 {
  font-weight: bold;
  padding-bottom: 10px;
}

.map-props > p {
  padding-bottom: 10px;
  line-height: 15px;
}