.honey-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.honey-button:focus {
  outline: none;
}

.map-div {
  display: flex;
  position: absolute;
  left: 0px;
  // border: 1px solid red;
}