.honeybear-parent-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  background-color: white;
  z-index: 0;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

.honeybear-wrapper {
  position: absolute;
  width: 80%;
  left: 50%;
  transform: translate(-50%);
}

.honeybear-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  // max-width: 1400px;
  // border: 1px solid black;
  
}
.honeybear-logo {
  height: 60px;
}
.honeybear-header {
  margin-top: 15px;
  font-size: 28px;
  font-weight: 300;
  color: #cc7852;
}

.honey-bear-header-wrapper:hover {
  text-decoration: none;
}

.honeybear {
  display: flex;
}

.signup {
  border-radius: 21px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.18);
  border-color: #EBEBEB;
  // border: 1px solid black;
  padding: 8px 15px 8px 15px;
  width: 90px;
  height: 15px;
}

.signup, .login, .meet-engineers {
  text-decoration: none;
}
.signup:hover, .login:hover, .meet-engineers {
  text-decoration: none;
}



.top-buttons {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14;
  font-weight: bold;
  color: #cc7852;
  margin: 0px 10px;
  text-decoration: none;
  outline: none;
}

.top-buttons:hover, .logout-button:hover, .meet-engineers:hover {
  color: #fcda73;
}

//share functions with search bar button
.logout-button:focus, .gear-submit {
  outline: 0;
}