body {
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.parent-profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 150px;
  background-image: linear-gradient(to bottom, rgba(85, 107, 47, 0.068), rgba(85, 107, 47, 0.7));
  min-height: 100vh;
}

.profile-container {
  display: flex;
  justify-content: center;
  width: 75%;
  // padding: 40px;
}

.profile-picture {
  display: flex;
  justify-items: flex-start;
  margin: 20px;
}

.profile-picture > img {
  border-radius: 10px;
}

.profile-info {
  display: flex;
  margin: 20px;
  height: 325px;
  width: 50%;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  line-height: 40px;
}

.profile-info-left {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.fullname > h2{
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  color: peru;
  // padding-bottom: 30px;
  padding-left: 20px;
}

.member-since {
  color: black;
  font-weight: lighter;
  padding-left: 20px;
  padding-bottom: 30px;
  font-size: 14px;
}

.user-info {
  width: 500px;
  line-height: 30px;
  font-weight: 400;
  padding-left: 20px;
  font-size: 14px;
}

.user-info > span {
  font-weight: lighter;
  color: black;
}

// .profile-info-right {
//   display: flex;
//   width: 50%;
// }

// .shared-items {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   width: 100%;
//   line-height: 100px;
// }

// .shared-items > h4 {
//   font-size: 40px;
//   font-weight: 500;
// }

// .shared-items > h2 {
//   font-size: 160px;
// }

.userItems-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  border-radius: 10px;
  padding: 25px;
  align-items: center;
}

.userItems > h3 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
  background: white;
  border-radius: 10px;
  padding: 10px;
  width: 270px;
  text-align: center;
  color: peru;
  font-weight: 400;
  align-items: left;
}

.useritems-list {
  display: flex;
  flex-direction: column;
}
