.signup-form-container {
    display: flex;
    position: absolute;
    top: 101px;
    width: 100%;
    height: 100%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    // background-color: #fcda733f;
    background-color: #cc79523a;
    background-image: url('https://s1.1zoom.me/b5050/377/Sunrises_and_sunsets_505653_3840x2160.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    font-family: inherit;
}

.signup-form {
    display: inline-block;
    position: relative;
    width: 570px;
    height: 650px;
    border-radius: 21px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.18);
    background-color: white;
    // justify-content: space-evenly;
    // text-align: center;
}

.signup-head {
    display: flex;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    width: 570px;
    height: 65px;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    color: #767676;
}

.signup-input-container{
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: space-around;
    margin-top: 50px;
}


.input-row {
    display: inline-block;
    margin: 12px 0px;
    justify-content: space-between;
}

.one {
    width: 235px;
    height: 45px;
    border: 1px solid rgba(0,0,0,.2);
    font-size: 16px;
    padding: 5px 0px 5px 12px;
    color: #767676;
    border-radius: 9px 0px 0px 9px;
    border-right: 0px;
}
.two {
    width: 235px;
    height: 45px;
    border: 1px solid rgba(0,0,0,.2);
    font-size: 16px;
    padding: 5px 0px 5px 12px;
    color: #767676;
    border-radius: 0px 9px 9px 0px;
}

.one:focus {
    outline: none;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.18);
}
.two:focus {
    outline: none;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.18);
}

.signup-submit-button {
    width: 235px;
    height: 45px;
    font-size: 16px;
    background-color: #fcda73;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.18);
    padding: 0;
    margin-top: 20px;
    color: #767676;

}
.signup-submit-button:hover {
    // background-color: #fdcb3796;
    border: 4px #fcdd805b;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.18);
}

input:focus {
    outline: none;
}

.terms-cond {
    font-family: inherit;
    font-size: 11px;
    line-height: 17px;
    color: #767676;
    padding: 0px 38px;
}
.create-button-terms {
    font-weight: bold;
}

.errors {
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-left: 108px;
    margin-top: 10px;
}

.each-error {
    list-style: none;
    color: red;
    font-size: 14px;
    font-family: inherit;
}
