body {
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.splash-parent {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 600px;
  height: 95vh;
  background-image: url(https://s1.1zoom.me/b5050/377/Sunrises_and_sunsets_505653_3840x2160.jpg);
  background-size: cover;
}

.footer-main {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 10px;
}

.footer-contents {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.footer-items {
  display: inline-flex;
  justify-content: space-between;
}

.footer-items > div {
  display: flex;
  justify-content: space-between;
  margin-right: 25px;
}

.meet-engineers, .copyright {
  color: #cc7852;
}

.copyright {
  font-weight: 400;
}

.meet-engineers {
  font-weight: 600;
}